.header {
    background-color: #FFFFFF;
    .profile {
        height: 48px;
        border-radius: 48px;
    }
    .title {
        display: inline-block;
        font-size: 48px;
        margin: 0;
    }
}