@import '../../styles.less';

.algorithm {
    .title {
        display: inline-block;
        padding: 15px 20px 0 20px;
        color: @gray-darken;
        font-size: @large;
        font-weight: 400;
        text-decoration: underline;
        &:hover {
            cursor: pointer;
        }
    }

    .comment {
        padding: 0 20px 10px 20px;
        font-size: @small;
        font-weight: 200;
        p {
            margin: 3px 0;
        }

        h2, h3, h4 {
            font-size: @normal;
            margin: 3px 0;
            font-weight: 500;
        }
    }
}