@import '../../styles.less';

.algorithm {
    margin: @normal;
    border: 4px solid @gray-darken2;
    border-radius: 8px;

    .title {
        padding: 4px 8px 8px 8px;
        background: @gray-darken2;
        color: @white;
        font-weight: 200;
        &:hover {
            cursor: pointer;
        }
    }
}