@import '../../styles.less';

.list-section {
    margin: 0 auto;
    padding: 24px 0;
    max-width: 80%;
    ul {
        padding: 0 @xlarge;
        li {
            margin: @xlarge 0;
            display: block;
            background: @white;
            border: 5px solid @gray-darken;
            border-radius: 10px;

            .name {
                padding: 5px 10px 10px 10px;
                background: @gray-darken;
                color: @white;
                font-weight: 400;
            }
        }
    }
}